.board {
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex-direction: row;
}

.cell {
    width: 100px;
    height: 100px;
}

.line-odd .cell:nth-child(odd), .line-even .cell:nth-child(even) {
    background-color: black;
}

.line-odd .cell:nth-child(even), .line-even .cell:nth-child(odd) {
    background-color: white;
}

.piece {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: grab;
}

.piece img {
    height: 100%;
}

