.mesa {
    display: flex;
    flex-direction: column;
}

.linha {
    display: flex;
    flex-direction: row;
}

.casa {
    width: 100px;
    height: 100px;
}

.linha-impar .casa:nth-child(odd), .linha-par .casa:nth-child(even) {
    background-color: white;
}

.linha-impar .casa:nth-child(even), .linha-par .casa:nth-child(odd) {
    background-color: black;
}

.peca {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: grab;
}

.peca img {
    height: 100%;
}

